
<div class="row">
  <div class="column-left">
    <div class="dropdown">
      <button class="btn towndrop dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Amsterdam
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Leidseplein</a>
        <a class="dropdown-item" href="#">Haarlemweg</a>
        <a class="dropdown-item" href="#">WTC</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn towndrop dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Rotterdam
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Leidseplein</a>
        <a class="dropdown-item" href="#">Haarlemweg</a>
        <a class="dropdown-item" href="#">WTC</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn towndrop dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Haarlem
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Leidseplein</a>
        <a class="dropdown-item" href="#">Haarlemweg</a>
        <a class="dropdown-item" href="#">WTC</a>
      </div>
    </div>
  </div>
  <div class="column-middle">


    <div class="gallery">
      <a target="_blank" href="img_5terre.jpg">
        <img src="../../../../assets/images/logo.png" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_forest.jpg">
        <img src="../../../../assets/images/logo.png" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="../../../../assets/images/logo.png" alt="Northern Lights" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="../../../../assets/images/logo.png" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

  </div>
  <div class="column-right">
    <div class="information-box">
      <div class="informatie-titel">Canel Tour</div>
      <div class="information-info">A tour around the Canels. Visit the old
        warehouse that helped Amsterdam become a great city!
      </div>
    </div>
    <div class="information-box">
      <div class="informatie-titel">Heiniken</div>
      <div class="information-info">Come and discover what lies behind the doors of the former Heineken brewery in
        Amsterdam, and learn everything there is to know about the world’s favorite beer.
      </div>
    </div>
    <button type="button" class="btn down btn-primary">Subscribe</button>
  </div>


</div>
