<div class="row">

    <div class="column-left">
      <div class="dropdown">
        <button class="btn towndrop dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Amsterdam
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Leidseplein</a>
          <a class="dropdown-item" href="#">Haarlemweg</a>
          <a class="dropdown-item" href="#">WTC</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn towndrop dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Rotterdam
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Leidseplein</a>
          <a class="dropdown-item" href="#">Haarlemweg</a>
          <a class="dropdown-item" href="#">WTC</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn towndrop dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Haarlem
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Leidseplein</a>
          <a class="dropdown-item" href="#">Haarlemweg</a>
          <a class="dropdown-item" href="#">WTC</a>
        </div>
      </div>
    </div>

<div class="column"></div>
  <div class="column">
    <div class="wrap">
      <!-- Define all of the tiles: -->
      <div class="box">
        <div class="boxInner">
          <img src="../../../../assets/images/AmsterdamView.jpg"/>

        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="../../../../assets/images/AmsterdamView.jpg"/>

        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="../../../../assets/images/AmsterdamView.jpg"/>

        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="../../../../assets/images/AmsterdamView.jpg"/>

        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="../../../../assets/images/AmsterdamView.jpg"/>

        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="../../../../assets/images/AmsterdamView.jpg"/>

        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="../../../../assets/images/AmsterdamView.jpg"/>

        </div>
      </div>

    </div>
  </div>

  <div class="column">
    <div class="column-right">
      <div class="information-box">
        <div class="informatie-titel">Canel Tour</div>
        <div class="information-info">A tour around the Canels. Visit the old
          warehouse that helped Amsterdam become a great city!
        </div>
      </div>
      <div class="information-box">
        <div class="informatie-titel">Heiniken</div>
        <div class="information-info">Come and discover what lies behind the doors of the former Heineken brewery in
          Amsterdam, and learn everything there is to know about the world’s favorite beer.
        </div>
      </div>
      <button type="button" class="btn down btn-primary">Subscribe</button>
    </div>
  </div>
</div>
