<div style="overflow-x:auto;">

  <h3>Scooters in your neigbourhood</h3>
  selecteer een scooter in de list links
  <table id="selectedDetail">



  </table>


  <table>

    <tr>
      <td>Tag</td>

      <td><input type="text" [(ngModel)]="edit.tag"></td>


    </tr>

    <tr>
      <td>Status</td>

      <td><input type="text" [(ngModel)]="edit.status"></td>


    </tr>

    <tr>
      <td>gps-location</td>

      <td><input type="text" [(ngModel)]="edit.gpsLocation"></td>


    </tr>

    <tr>
      <td>Mileage</td>

      <td><input type="text" [(ngModel)]="edit.mileage"></td>


    </tr>


    <tr>
      <td>Battery charge</td>

      <td><input type="text" [(ngModel)]="edit.batteryCharger"></td>


    </tr>

  </table>

</div>
